
i {
    color: #fff;
    opacity: 60%;
  }
  
  i:hover {
    opacity: 100%;
  }
  .popup-container {
    position: relative;
    display: inline-block;
  }
  
  .popup-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .popup-content-users {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 6rem;
    min-width: 120px;
    right: 1rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
    gap: 1rem;
  }
  .popup-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 6rem;
    left: 12rem;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
    gap: 1rem;
  }
  
  .popup-content a {
    color: #000;
    text-decoration: none;
  }
  
  @media (orientation: landscape) {
    .sticky-footer {
      display: none;
    }
  }
  footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .sticky-footer {
    background: linear-gradient(to right, #083d6b, #0d949b);
    padding-block: 20px;
    z-index: 50;
  }
  .nav-btns {
    user-select: none;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100vw;
    padding-inline: 30px;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: center;
    overflow: scroll;  
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }

  .nav-btns::-webkit-scrollbar {
    display: none;
  }
  
  .nav-btns a {
    opacity: 60%;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
  }
  
  .nav-btns a:hover {
    opacity: 100%;
  }
  .icon-center {
    background-color: rgb(65, 142, 224);
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    opacity: 60%;
  }
  
  .icon-center:hover {
    opacity: 100%;
  }
  

  .close-btn{
    
    display: flex;
    color: red;
    justify-content: center;
  }

  .close-btn:hover{
    
    opacity: 50%;
  }