
.hidden {
    display: none;
  }
  
  .flex {
    display: flex;
  }
  .modal {
    position: fixed;
    z-index: 100;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .modal-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  
  @font-face {
    font-family: "RM New Albion";
    src: url("/public/assets/fonts/rm_new_albion.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 10px;
  }
  .modal-header {
    padding: 5px;
    border-bottom: 1px solid #b5b5b5;
  }
  .modal-header .title {
    font-size: 18pt !important;
    margin-left: 10px;
  }
  
  .x-btn {
    font-size: 18pt !important;
    opacity: 50%;
    font-weight: bold;
  }
  
  .x-btn:hover {
    opacity: 100%;
    cursor: pointer;
  }
  
  .heading-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    padding: 10px;
    border-bottom: 1px solid #adadad;
  }
  
  .heading-container img {
    width: 80px;
  }
  
  .heading-text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .heading-text .first {
    font-family: RM New Albion;
    font-size: 50pt !important;
  }
  
  .heading-text .second {
    font-size: 12pt !important;
    font-weight: bold;
  }
  
  .heading-text .third {
    font-size: 12pt !important;
    font-weight: bold;
  }
  .title {
    text-align: center;
  }
  
  .section-user-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 10px;
  }
  
  .section-user-info label {
    font-weight: bold;
  }
  
  .section-details {
    padding: 10px;
  }
  
  .section-details label {
    font-weight: bold;
  }
  
  .section-budget {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .amount {
    padding: 10px;
  }
  .amount label {
    font-weight: bold;
  }
  .modal-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .modal-footer button {
    padding: 10px;
    background-color: rgb(106, 106, 106);
    border: none;
    color: #fff;
    border-radius: 5px;
    opacity: 75%;
  }
  
  .modal-footer button:hover {
    opacity: 100%;
    cursor: pointer;
  }