@font-face {
    font-family: "RM New Albion";
    src: url("/public/assets/fonts/rm_new_albion.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media(orientation: portrait){
    .heading-container{
        display: none;
    }
}

@media(orientation: landscape){
    .heading-container{
        display: flex;
    }
}
.modal{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 99;
    user-select: none;
    animation: popUp 0.5s ease-in-out forwards, increaseOpacity 2s 0.5s forwards;
}


.modal-content{
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin-inline: 5px;
    max-width: 900px;
  
}
.modal-header{
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    padding-top: 3px;
    border-bottom: 1px solid #b3b3b3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0e8dd6;
    color: #fff
}

.title{
    margin-left: 5px;
    font-size: 12pt !important;
}
.title{
    font-weight: bold;
}

.section-budget .title{
    font-weight: bold;
}
.modal-header .title{
   
    font-size: 20px;
    font-weight: bold;
}

.modal-header .x-btn{
    font-size: 20px;
    font-weight: bold;
    opacity: 50%;
}

.modal-header .x-btn:hover{
    opacity: 100%;
    cursor: pointer;
}

.heading-container{
    background-color: #eeee;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
    padding-inline: 50px;
}

.heading-container .heading-img img{
    width: 60px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
   
    
}

.heading-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.heading-text .first{
    font-family: RM New Albion;
    font-size: 35pt !important;
}

.heading-text .second{
   
    font-size: 10pt !important;
}

.heading-text .third{
  
    font-size: 10pt !important;
}

.modal-title {
    padding-left: 10px;
    text-align: center;
}

.modal-title text{
    font-size: 18pt !important;
    font-weight: bold;
}

.modal-details{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 1.5rem;
    padding: 10px;
    border-bottom: 1px solid #b5b5b5;
  
}
.modal-subtitle{
    display: flex;
    flex-direction: column;
}
.modal-subtitle text{
    font-weight: bold;
}

.radio-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
   
}

.read-only{
    pointer-events: none;
}


.group label{
    font-weight: bold;
}

.input-date{
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.input-date label{
    font-weight: bold;
    margin-top: 5px;
}

.section-dates{
    margin-bottom: 10px;
}
.textarea-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.textarea-container textarea{
    width: 100%;
    border-radius: 5px;
    padding: 5px
}

.btn-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: .3rem;
    background-color: #eeeeee;
}

.btn-container button{
    opacity: 75%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.btn-container button:hover{
    opacity: 100%;
    cursor: pointer;
}

.btn-container .close-btn{
    background-color: #7b7b7b;
}

.btn-container .submit-btn{
    background-color: rgb(41, 108, 242);
}

 .certitification-credits table{
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}
 .certitification-credits table th, td{
   border: 1px solid #9e9e9e;
   font-size: 12pt !important;
}

 .certitification-credits table .end{
    text-align: right;
}

.certitification-credits table tbody tr:hover{
   background-color: #e8e8e8;
   cursor: pointer;
}
.certification-title{
    display: flex;
    justify-content: center;
    gap: .4rem;
    margin-bottom: 10px;
}

.certification-title text{
   font-weight: bold;
}


.certification-item text{
   font-weight: bold;
}

.certification-item{
    display: flex;
    gap: .4rem;
}

.underline{
    text-decoration: underline;
}

.description label{
    font-weight: bold;
}

.description{
    display: flex;
    flex-direction: column;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-group label{
   font-weight: bold;
   margin-top: 5px;
}
.input-group button{
    pointer-events: stroke;
    padding: 10px; 
    margin-top: 10px;
    opacity: 50%;
}

.input-group button:hover{
    opacity: 100%;
    cursor: pointer;
}

.medical-certificate{
    width: 60px;
    opacity: 60%;
    pointer-events: stroke;
    
}

.medical-certificate:hover{
    opacity: 100%;
    cursor: pointer;
}

.input-group img{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.input-container{
    display: flex;
    align-items: center;
    gap: .3rem;
    margin: 3px;
}

.input-container input{
    padding: 5px;
    width: 100px;
}

.modal-item{
    display: flex;
    margin-top: 10px;
}
.modal-item label{
    font-weight: bold;
}

.input-container textarea {
    flex: 1;
    border-radius: 5px;
    min-height: 90px;
    min-width: 350px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
}

.submission-selection{
    display: flex;
    flex-direction: column;
}

.confirmation-modal {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    animation: popUp 0.3s ease-in-out forwards, increaseOpacity 2s .3s forwards;
}
  .confirmation-modal-content {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #7a7a7a;    
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }

  .confirmation-modal-content text{
    margin: 12px;
    padding: 5px;
    font-size: 18pt !important;
  }

  .confirmation-modal-btn{
    margin: 10px;
    display: flex;
    justify-content: end;
    gap: .2rem;
  }

  .confirmation-modal-btn button{
   padding: 10px;
   border-radius: 5px;
   border: none;
   opacity: 50%;
   color: #fff;

  }

  .confirmation-modal-btn .no-btn{
    background-color: #8a8a8a;
    padding-inline: 12px;
  
   }

   .confirmation-modal-btn .yes-btn{
    background-color:rgb(41, 108, 242)
   }

  .confirmation-modal-btn button:hover{
    cursor: pointer;
    opacity: 100%;
}

.substitute-details{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .substitute-item label{
  font-weight: bold;
  }
  .substitute-item{
    display: flex;
    flex-direction: column;
  }
  
  .section-details{
    padding: 10px;
  }

  .section-budget{
    padding: 10px;
  }


  
.confirmation-modal {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    animation: popUp 0.3s ease-in-out forwards, increaseOpacity 2s .3s forwards;
}
  .confirmation-modal-content {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #7a7a7a;    
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }

  .confirmation-modal-content text{
    margin: 12px;
    padding: 5px;
    font-size: 16pt !important;
  }

  .confirmation-modal-btn{
    margin: 10px;
    display: flex;
    justify-content: end;
    gap: .2rem;
  }

  .confirmation-modal-btn button{
   padding: 10px;
   border-radius: 5px;
   border: none;
   opacity: 50%;
   color: #fff;

  }

  .confirmation-modal-btn .no-btn{
    background-color: #8a8a8a;
    padding-inline: 12px;
  
   }

   .confirmation-modal-btn .yes-btn{
    background-color:rgb(41, 108, 242)
   }

  .confirmation-modal-btn button:hover{
    cursor: pointer;
    opacity: 100%;
}

.certitification-credits{
    padding: 10px;
}
.modal-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.certitification-credits table{
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}
 .certitification-credits table th, td{
   border: 1px solid #9e9e9e;
   font-size: 12pt !important;
}

 .certitification-credits table .end{
    text-align: right;
}

.certitification-credits table tbody tr:hover{
   background-color: #e8e8e8;
   cursor: pointer;
}
.certification-title{
    display: flex;
    justify-content: center;
    gap: .4rem;
    margin-bottom: 10px;
}

.certification-title text{
   font-weight: bold;
}


.certification-item text{
   font-weight: bold;
}

.certification-item{
    display: flex;
    gap: .4rem;
}

.underline{
    text-decoration: underline;
}
.modal-container-items{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.item-title{
    font-weight: bold;
    margin: 5px
}

.item-subtitle{
    margin-bottom: 2px;
    margin-top: 2px;
}

.item-subtitle text{
   font-weight: bold;
}

.grouped-details{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    padding: 5px;
    gap: .5rem;
}

.grouped-details label{
   font-weight: bold;
}

.grouped-details .group{
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}