
.buttons-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 0.2rem;
  }
  
  .buttons-container .submit {
    padding: 10px;
    border: none;
    background-color: rgb(0, 184, 34);
    color: #fff;
    border-radius: 5px;
  }
  
  .buttons-container .edit {
    padding: 10px;
    border: none;
    background-color: rgb(28, 118, 245);
    color: #fff;
    border-radius: 5px;
  }
  
  .buttons-container .edit,
  .submit {
    opacity: 75%;
  }
  .buttons-container .edit:hover,
  .submit:hover {
    opacity: 100%;
    cursor: pointer;
  }
  @font-face {
    font-family: "RM New Albion";
    src: url("/public/assets/fonts/rm_new_albion.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  .amount span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .heading-text {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  
  .heading-text .first {
    font-size: 42pt !important;
    font-family: "RM New Albion";
    font-weight: bold;
  }
  .heading-text .second {
    font-weight: bold;
  }
  
  .heading-text .third {
    font-weight: bold;
  }
  
  .heading-container {
    margin-left: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
  
  .form-container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .header h2 {
    font-size: 24px;
    margin: 0;
    color: #030405;
  }
  
  .header p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .title {
    font-size: 14px;
    color: black;
    text-align: center;
  
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .title-form {
    text-align: center;
    font-size: 23px;
  }
  
  .section {
    margin-bottom: 10px;
  }
  
  .input-group {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  .input-group label {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    font-size: 12px;
    color: #333;
    min-width: 150px;
  }
  
  .input-group span {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    min-width: 180px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .travel-group input {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    width: 50%;
  }
  .others {
    border: none;
    border-bottom: 1px solid #100a0a;
    outline: none;
    width: 50%;
  }
  .input-group input:focus {
    border-bottom: 1px solid #003366;
  }
  .inline-fields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .inline-fields label {
    flex: 1;
  }
  .inline-fields input[name="last_name"] {
    width: 35%;
  }
  .inline-fields input[name="first_name"] {
    width: 35%;
  }
  .inline-fields input[name="middle_name"] {
    width: 28%;
  }
  .travel-section .travel-group {
    display: grid;
    font-size: 12px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  
  .travel-section label {
    margin-left: 20px;
  }
  
  .travel-section span {
    margin-left: 20px;
  }
  
  .travel-group .full-width {
    grid-column: span 2;
  }
  
  .travel-group label {
    display: block;
    font-size: 12px;
    color: #333;
    margin-bottom: 2px; 
  }
  
  .travel-group span {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    min-width: 200px; 
    display: inline-block;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .travel-group .description {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    min-height: 50px; 
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  table th,
  table td {
    border: 1px solid #0a0909;
    padding: 8px;
    text-align: center;
  }
  .signature-section {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 10px;
  }
  .signature-box {
    text-align: center;
    flex: 1;
  }
  .signature-box p {
    margin: 5px 0;
  }
  .full-width {
    display: flex;
    flex-direction: column;
  }
  .full-width label {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .full-width textarea {
    width: 97.7%;
    height: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    resize: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .description {
    margin: 0 20px;
    width: 95%;
  }
  .budget-section {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: none;
  }
  .left-side,
  .righ-side {
    width: 48%;
  }
  
  .left-side label,
  .right-side label {
    display: inline-block;
    margin-bottom: 8px;
  }
  .amount {
    display: flex;
    align-items: start;
    gap: 10px;
  }
  .amount input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 4px;
    width: 200px;
  }
  .underline {
    text-decoration: underline;
  }
  .box-container {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
  }
  .sextion {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .lef-side,
  .right-section {
    flex: 1;
  }
  .disapproval-section {
    gap: 10px;
  }
  textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .department-head {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .department-head label {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
  .others {
    border-bottom: 1px solid #0a0505;
  }
  .hr-officer {
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .backs-container {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 2px;
    width: 95%;
    margin: 10px auto;
  }
  .last {
    display: flex;
    flex-direction: row;
    gap: 70px;
    font-size: 12px;
  }
  .underlast {
    border: none;
    border-bottom: 1px solid #000;
    width: 50px;
  }
  .disapproved {
    margin-top: 10px;
    font-size: 12px;
  }
  .dis {
    width: 97%;
    margin-top: 1px;
    height: 20px;
  }
  .names {
    font-weight: bold;
    margin-top: 6px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }
  
  .names div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .names label {
    word-wrap: break-word;
    white-space: normal;
  }
  
  .heading-text {
    align-items: center;
    text-align: center;
    margin-right: 90px;
  }
  .heading-img img {
    width: 80px;
    height: auto;
  }
  .school-name {
    font-family: "Old English Text MT", serif;
    margin: 0 10px;
  }
  .title-container {
    text-align: center;
  }
  
  .department {
    margin-top: -20px;
  }
  
  .big-input {
    height: 40px;
    margin-top: 10px;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  
  .input-group label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #333;
    text-align: center;
    flex: 1;
  }
  
  .input-group span {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    text-align: center;
    min-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }
  
  .note label {
    margin: 0 50px;
    font-size: 13px;
    font-weight: 600;
  }
  
  .modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .modal-content {
    background-color: #fff;
    border-top: 4px solid rgb(45, 93, 235);
    border-radius: 5px;
    box-shadow: 20px 20px 20px 1.2px rgba(0, 0, 0, 0.1);
    border: 1px solid #cccccc;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2px;
    border-bottom: 1px solid rgb(178, 178, 178);
  }
  
  .modal-header .modal-title {
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
  }
  
  .modal-header .x-btn {
    padding-right: 5px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .modal-header .x-btn:hover {
    cursor: pointer;
    opacity: 75%;
  }
  .modal-content section {
    border-bottom: 1px solid #b2b2b2;
    padding: 10px;
  }
  
  .modal-content footer {
    display: flex;
    justify-content: end;
    padding: 5px;
    gap: 0.2rem;
    background-color: #ececec;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .modal-content footer button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    opacity: 75%;
  }
  
  .modal-content footer button:hover {
    opacity: 100%;
    cursor: pointer;
  }
  
  .modal-content .yes-btn {
    background-color: rgb(28, 118, 245);
    color: #fff;
  }
  
  .modal-content .no-btn {
    background-color: rgb(190, 2, 2);
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
  }