@font-face {
  font-family: "RM New Albion";
  src: url("/public/assets/fonts/rm_new_albion.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.flex {
  display: flex;
}

.modal {
  position: fixed;
  z-index: 100;
  justify-content: center;
  align-items: center;
  inset: 0;
  animation: popUp 0.3s ease-in-out forwards, increaseOpacity 2s 0.3s forwards;
}

.modal-content {
  user-select: none;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 10px;
  padding: 5px;
  border-bottom: 1px solid #b5b5b5;
}

.modal-header .title {
  font-size: 16pt !important;
  margin-left: 10px;
}

.x-btn {
  font-size: 18pt !important;
  opacity: 50%;
  font-weight: bold;
  margin-right: 8px;
}

.x-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  padding: 10px;
  border-bottom: 1px solid #adadad;
}

.heading-container img {
  width: 60px;
}

.heading-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading-text .first {
  font-family: "RM New Albion";
  font-size: 40pt !important;
}

.heading-text .second {
  font-size: 8pt !important;
  font-weight: bold;
}

.heading-text .third {
  font-size: 9pt !important;
  font-weight: bold;
}

.title {
  text-align: center;
}

.section-user-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
}

.section-user-info label {
  font-weight: bold;
}

.section-details {
  padding: 10px;
}

.section-details label {
  font-weight: bold;
}

.section-budget {
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.amount {
  padding: 10px;
}

.amount label {
  font-weight: bold;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.modal-footer button {
  padding: 10px;
  background-color: rgb(106, 106, 106);
  border: none;
  color: #fff;
  border-radius: 5px;
  opacity: 75%;
}

.modal-footer button:hover {
  opacity: 100%;
  cursor: pointer;
}

.content-details {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  padding: 5px;
}

.content-details .row {
  display: flex;
  justify-content: space-between;
}

.radio-group {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

.radio-group label {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.radio-group input[type="checkbox"] {
  margin-right: 10px;
}

.input-group {

  margin-bottom: 10px;
  margin-left: 10px;
}

.input-group label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.input-group input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.section-dates {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-right: 10px;
  pointer-events: none;
}

.container-details {
  display: flex;
  padding: 10px;
}

.sub-checkbox {
  margin-left: 15px;
}

.sub-checkbox + input[type="text"] {
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
}

span.sub-title {
  display: flex;
  margin-top: 8px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  padding-inline: 5px;
}

.close-btn-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.close-btn-container button {
  padding: 10px;
  border: none;
  background-color: rgb(173, 160, 160);
  border-radius: 5px;
  opacity: 75%;
}

.close-btn-container button:hover {
  opacity: 100%;
  cursor: pointer;
}

.checkbox-group {
  pointer-events: none;
}

.substitute-details {
  display: flex;
  margin-left: 10px;
}

.substitute-item {
  display: flex;
  flex-direction: column;
}

.substitute-item label {
  font-weight: bold;
}


