
.login-btn {
    display: flex;
    justify-content: end;
  }
  
  .error {
    display: flex;
    font-style: italic;
    color: #ff0000;
    font-weight: lighter;
    font-size: 12px;
  }
  
  .login-btn {
    display: flex;
    justify-content: end;
  }
  
  .error {
    display: flex;
    font-style: italic;
    color: #ff0000;
    font-weight: lighter;
    font-size: 12px;
  }
  .usernameField i {
    opacity: 50%;
    padding: 10px 11px;
    cursor: pointer;
  }
  
  .usernameField i:hover {
    opacity: 60%;
  }
  .field-icon-user {
    background-color: #0051ff;
    color: #fff;
    padding: 10px 11px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .field-icon-pass {
    background-color: #ff0000;
    color: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .usernameField {
    display: flex;
    border: 1px solid #ddd;
  }
  .passwordField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .usernameField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .userField i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .passwordField i {
    opacity: 50%;
    padding: 10px;
    cursor: pointer;
  }
  
  .passwordField i:hover {
    opacity: 60%;
  }
  #user {
    background-color: transparent;
    border: none;
  }
  #password {
    background-color: transparent;
    border: none;
  }
  .container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    inset: 0;
    background: linear-gradient(to bottom, rgba(94, 204, 216, 0.3), rgba(10, 124, 137));
  }
  
  .content {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 350px;
    text-align: center;
    margin: 10px;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 120px;
    height: auto;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3));
  }
  
  .login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    text-align: left;
    margin-bottom: 18px;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    color: #555;
  }
  
  input {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #007bff;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password {
    margin-top: 10px;
  }
  
  .forgot-password a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }

  .description{
    text-align: justify;
    background-color: #d7f1f5;
    padding: 10px;
    border-radius: 10px;
    color: #1c606a;
  }