.modal {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 99;
    animation:
        popUp 0.3s ease-in-out forwards,
        increaseOpacity 2s 0.3s forwards;
}

.modal-content {
    user-select: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    max-height: 80vh;
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}
.form-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-title i {
    opacity: 50%;
}

.form-title i:hover {
    cursor: pointer;
    opacity: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    margin-bottom: 5px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-checkbox {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-checkbox label {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.form-group input {
    padding: 10px;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.form-group select {
    padding: 10px;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.checkbox-group {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}
.checkbox-group input {
    margin-right: 5px;
}

.grouped {
    display: flex;
    align-items: center;
}

.grouped-checkboxes {
    display: flex;
    border: 1px solid #787878;
    margin-inline: 10px;
    border-radius: 5px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #ccc;
    color: #424242;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
}

.cancel-btn:hover,
.submit-btn:hover {
    opacity: 0.8;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.dropdown-users {
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: 100px;
    overflow-y: auto;
    margin-top: 8px;
}

.dropdown-users ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-users .empty-msg {
    display: flex;
    justify-content: center;
}

.dropdown-users li {
    padding: 10px;
    font-size: 10pt !important;
}

.dropdown-users li:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #8e8e8e;
    box-shadow: none;
    border-radius: 5px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

.search-bar i {
    color: red;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    margin-right: 10px;
}

.search-bar i:hover {
    opacity: 50%;
    cursor: pointer;
}

.error-msg {
    color: red;
}
