@media (orientation: portrait) {
    .td-title span {
        display: none;
    }

    .td-title {
        text-align: center;
    }

    .td-action {
        text-align: center;
    }

    .td-action span {
        display: none;
    }
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.container .title span {
    font-size: 20px;
    font-weight: bold;
}

.container .title {
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.content {
    display: block;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    user-select: none;
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background-color: #e0e0e0;
    color: #676767;
}

thead td {
    padding: 12px 15px;
    font-weight: bold;
    text-align: left;
}

table thead tr {
    padding: 10px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td {
    padding: 12px 15px;
    text-align: left;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.edit-btn {
    color: #007bff;
    opacity: 75%;
}

.delete-btn {
    color: #ca0909;
    opacity: 50%;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 100%;
    cursor: pointer;
}

button i {
    font-size: 16px;
}

.td-title i,
.td-title span {
    padding-inline: 2px;
}

.td-action {
    width: 100px;
    text-align: center;
}

.td-action i,
.td-action span {
    padding-inline: 2px;
}

.td-status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.td-status .green {
    color: rgb(19, 212, 19);
}

.td-status .red {
    color: rgb(206, 27, 27);
}

.td-action {
    width: 50px;
    text-align: center;
}

td i {
    color: #007bff;
}

td i:hover {
    opacity: 50%;
    cursor: pointer;
}

.loading {
    width: 17px;
}

.forms-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}
.forms-selection .department-name {
    font-weight: bold;
    padding: 10px;
}

.forms-selection input {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}
.forms-selection i {
    padding: 5px;
    margin-right: 2px;
    border-radius: 5px;
}

.empty-msg {
    color: red;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.right {
    display: flex;
    align-items: center;
}

.right select {
    padding: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    margin-right: 10px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-bar i {
    color: #007bff;
    opacity: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-bar i:hover {
    opacity: 100%;
    cursor: pointer;
}

.search-bar input {
    border: none;
    outline: none;
}

.add-btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 50%;
    margin-right: 10px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-btn:hover {
    opacity: 100%;
    cursor: pointer;
}

.select-type {
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.footer a {
    text-decoration: none;
}

.footer i {
    display: block;
    color: #007bff;
    font-size: 14pt;
    padding: 5px;
    opacity: 50%;
}

.footer i:hover {
    opacity: 100%;
    cursor: pointer;
}

.table-msg {
    display: flex;
    justify-content: center;
    margin: 10px;
}
