.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section {
    user-select: none;
}

.blur {
    filter: blur(5px);
}

@media (orientation: landscape) {
    nav {
        display: flex;
        justify-content: start;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    nav span {
        text-align: center;
        font-weight: bold;
        z-index: 10;
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 40%;
        color: #fff;
        margin-left: 3rem;
    }

    nav span:hover {
        opacity: 100%;
        scale: 1.3;
        transition-duration: 600ms;
    }

    nav i {
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
    }

    nav span.active {
        color: #fff;
        opacity: 100%;
        scale: 1.3;
    }
}

@media (orientation: portrait) {
    nav {
        display: flex;
        justify-content: space-around;
        margin: 5px;
        border-radius: 5px;
    }

    nav span {
        text-align: center;
        font-weight: bold;
        z-index: 10;
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: 40%;
        color: #fff;
    }

    nav span:hover {
        opacity: 100%;
        scale: 1.2;
    }

    nav i {
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
    }

    nav span.active {
        color: #fff;
        opacity: 100%;
        scale: 1.3;
    }
}

.user-content {
    padding: 10px;
}

.user-department {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2px;
}
.user-role {
    display: flex;
    gap: 0.5rem;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details .name {
    font-size: 30px;
    font-weight: bold;
}

.user-details h1 {
    color: #fff;
}

.user-details i {
    color: #fff;
}

.user-details span {
    color: #fff;
}

.content {
    width: 100%;
    margin: 10px;
}

.profile-container {
    display: flex;
}

.user {
    border-radius: 5px;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
    margin-inline: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    height: 30vh;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.user-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: fill;
    border: #dadada 4px solid;
    box-shadow: 1px 2px 10px rgb(0, 0, 0);
}

.user-img:hover {
    cursor: pointer;
    opacity: 60%;
}

@media (orientation: portrait) {
    .td-title span {
        display: none;
    }

    .td-title {
        text-align: center;
    }

    .td-action {
        text-align: center;
    }

    .td-action span {
        display: none;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 42vh;
    }
}

@media (orientation: landscape) {
    .table-container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 50vh;
    }
}

.tables {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-inline: 10px;
}

.table {
    user-select: none;
    margin: 10px;
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .table {
        flex: 1 1 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}

.table-footer {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
.table-title span {
    font-weight: bold;
    padding: 10px;
}
table {
    user-select: none;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #e0e0e0;
    color: #676767;
}

thead th {
    padding: 12px 15px;
    font-weight: bold;
    min-width: 60px;
}
.left {
    text-align: left;
}
tbody tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td {
    padding: 12px 15px;
    text-align: left;
}

.ratings {
    border-top: 1px solid #b1b1b1;
    font-weight: bold;
    color: rgb(30, 131, 27);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

@media (orientation: portrait) {
    .btn-right {
        display: flex;
        flex-direction: column;
    }

    .btn-left {
        display: flex;
        flex-direction: column;
    }
}

.btn-right button {
    background-color: rgb(35, 134, 200);
    color: #fff;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 7px;
    opacity: 50%;
}

.btn-right button:hover {
    opacity: 100%;
    justify-content: end;
    cursor: pointer;
}

.btn-left select {
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.evalution-dropdown {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 16px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid #b6b6b6;
    z-index: 100;
}

.evalution-dropdown span {
    padding: 10px;
}

.evalution-dropdown span:first-child:hover {
    background-color: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.evalution-dropdown span:last-child:hover {
    background-color: #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.error-msg {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    gap: 0.3rem;
}

.error-msg span {
    color: rgb(255, 57, 57);
}

.error-msg i {
    color: rgb(255, 57, 57);
}
