.main-container {
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #011325;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 14pt;
}

.top-nav-buttons {
    display: flex;
    justify-content: flex-end;

    gap: 0.3rem;
}

.top-nav-buttons button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    opacity: 0.8;
}

.content {
    list-style: upper-alpha;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    gap: 1rem;
    margin-inline: 15px;
    overflow-y: auto;
    height: 80vh;
}

.category {
    margin: 1rem;
}
.category-header-item {
    display: flex;
    gap: 1rem;
}

.category-header-item i:hover {
    opacity: 50%;
    cursor: pointer;
}

.item {
    padding-left: 1rem;
}

.category ul li {
    display: flex;
    gap: 1rem;
    padding-block: 10px;
}

.category ul li i:hover {
    opacity: 50%;
    cursor: pointer;
}

.blue {
    color: rgb(0, 110, 255);
}

.red {
    color: rgb(230, 69, 69);
}
