.main-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;
    padding-inline: 10px;
    padding-block: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.top-nav button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.top-nav button:hover {
    opacity: 50%;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px;
}

.card {
    display: flex;
    background-color: #fff;
    flex-basis: 300px;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid #bebebe;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.card-header {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.card-header label {
    font-size: 14pt;
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body-item {
    display: flex;
    gap: 0.3rem;
}

.card-body-item label {
    font-weight: bold;
}
.card-footer {
    display: flex;
    gap: 0.3rem;
    justify-content: flex-end;
}

.card-footer button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    opacity: 50%;
}

.card-footer .open-btn {
    background-color: #29c946;
}
.card-footer .delete-btn {
    background-color: #cb2222;
}

.card-footer button:hover {
    opacity: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
